* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

::selection {
    background: rgb(255, 35, 35);
    color: white;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #303030;
}

body {
    background-color: #161616;
    color: white;
}

.container {
    position: relative;
    min-height: 100vh;
}

.content {
    padding-bottom: 2.5rem;
}

@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

.navbar {
    background-color: rgb(8, 8, 8);
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    text-decoration: underline;

}

.navbar a.active {
    background-color: rgb(8, 8, 8);
    color: white;
}

.navbar .icon {
    display: none;
}
